In [115]:
#import library
import psycopg2
import pandas as pd

### connect using psycopg2

In [116]:
conn = psycopg2.connect("dbname = BasketballStats user = chenjie password = lcj53242 \
                        host = newbballserver.ctkmtyhjwqb1.us-east-2.rds.amazonaws.com")

In [117]:
# activate connection cursor
cur = conn.cursor()

In [128]:
# create player_play_types(we use view name player_play_types for further work
Q1 = """
        WITH Stat1 as (
    SELECT p1.player_name as player_name,p1.player_id as player_id, pa1.percentage_of_time as PR_Ball_Handler
    FROM player p1,player_average pa1, format f1, category c1, element e1
    WHERE p1.player_id = pa1.player_id AND f1.format_id = pa1.format_id 
    AND f1.format_name= 'Offensive' AND c1.category_id = pa1.category_id
    AND c1.category_name = 'Play Types' AND e1.element_id = pa1.element_id
    AND e1.element_name = 'P&R Ball Handler' 
    ),
        Stat2 as (
    SELECT p2.player_name as player_name,p2.player_id as player_id, pa2.percentage_of_time as Transition
    FROM player p2,player_average pa2, format f2, category c2, element e2
    WHERE p2.player_id = pa2.player_id AND f2.format_id = pa2.format_id 
    AND f2.format_name= 'Offensive' AND c2.category_id = pa2.category_id
    AND c2.category_name = 'Play Types' AND e2.element_id = pa2.element_id
    AND e2.element_name = 'Transition' 
    ),
        Stat3 as (
    SELECT p3.player_name as player_name,p3.player_id as player_id, pa3.percentage_of_time as Isolation
    FROM player p3,player_average pa3, format f3, category c3, element e3
    WHERE p3.player_id = pa3.player_id AND f3.format_id = pa3.format_id 
    AND f3.format_name= 'Offensive' AND c3.category_id = pa3.category_id
    AND c3.category_name = 'Play Types' AND e3.element_id = pa3.element_id
    AND e3.element_name = 'Isolation' 
    ),
        Stat4 as (
    SELECT p4.player_name as player_name,p4.player_id as player_id, pa4.percentage_of_time as Spot_Up
    FROM player p4,player_average pa4, format f4, category c4, element e4
    WHERE p4.player_id = pa4.player_id AND f4.format_id = pa4.format_id 
    AND f4.format_name= 'Offensive' AND c4.category_id = pa4.category_id
    AND c4.category_name = 'Play Types' AND e4.element_id = pa4.element_id
    AND e4.element_name = 'Spot Up' 
    ),
        Stat5 as (
    SELECT p5.player_name as player_name,p5.player_id as player_id, pa5.percentage_of_time as Hand_Off
    FROM player p5,player_average pa5, format f5, category c5, element e5
    WHERE p5.player_id = pa5.player_id AND f5.format_id = pa5.format_id 
    AND f5.format_name= 'Offensive' AND c5.category_id = pa5.category_id
    AND c5.category_name = 'Play Types' AND e5.element_id = pa5.element_id
    AND e5.element_name = 'Hand Off' 
    ),
        Stat6 as (
    SELECT p6.player_name as player_name,p6.player_id as player_id, pa6.percentage_of_time as Offensive_Rebounds
    FROM player p6,player_average pa6, format f6, category c6, element e6
    WHERE p6.player_id = pa6.player_id AND f6.format_id = pa6.format_id 
    AND f6.format_name= 'Offensive' AND c6.category_id = pa6.category_id
    AND c6.category_name = 'Play Types' AND e6.element_id = pa6.element_id
    AND e6.element_name = 'Offensive Rebounds (put backs)' 
    ),
        Stat7 as (
    SELECT p7.player_name as player_name,p7.player_id as player_id, pa7.percentage_of_time as Off_Screen
    FROM player p7,player_average pa7, format f7, category c7, element e7
    WHERE p7.player_id = pa7.player_id AND f7.format_id = pa7.format_id 
    AND f7.format_name= 'Offensive' AND c7.category_id = pa7.category_id
    AND c7.category_name = 'Play Types' AND e7.element_id = pa7.element_id
    AND e7.element_name = 'Off Screen' 
    ),
        Stat8 as (
    SELECT p8.player_name as player_name,p8.player_id as player_id, pa8.percentage_of_time as Cut
    FROM player p8,player_average pa8, format f8, category c8, element e8
    WHERE p8.player_id = pa8.player_id AND f8.format_id = pa8.format_id 
    AND f8.format_name= 'Offensive' AND c8.category_id = pa8.category_id
    AND c8.category_name = 'Play Types' AND e8.element_id = pa8.element_id
    AND e8.element_name = 'Cut' 
    ), 
        Stat9 as (
    SELECT p9.player_name as player_name,p9.player_id as player_id, pa9.percentage_of_time as Post_Up
    FROM player p9,player_average pa9, format f9, category c9, element e9
    WHERE p9.player_id = pa9.player_id AND f9.format_id = pa9.format_id 
    AND f9.format_name= 'Offensive' AND c9.category_id = pa9.category_id
    AND c9.category_name = 'Play Types' AND e9.element_id = pa9.element_id
    AND e9.element_name = 'Post-Up' 
    ),
        Stat10 as (
    SELECT p10.player_name as player_name,p10.player_id as player_id, pa10.percentage_of_time as PR_Roll_Man
    FROM player p10,player_average pa10, format f10, category c10, element e10
    WHERE p10.player_id = pa10.player_id AND f10.format_id = pa10.format_id 
    AND f10.format_name= 'Offensive' AND c10.category_id = pa10.category_id
    AND c10.category_name = 'Play Types' AND e10.element_id = pa10.element_id
    AND e10.element_name = 'P&R Roll Man' 
    ),
        Stat11 as (
    SELECT p11.player_name as player_name,p11.player_id as player_id, pa11.percentage_of_time as Miscellaneous
    FROM player p11,player_average pa11, format f11, category c11, element e11
    WHERE p11.player_id = pa11.player_id AND f11.format_id = pa11.format_id 
    AND f11.format_name= 'Offensive' AND c11.category_id = pa11.category_id
    AND c11.category_name = 'Play Types' AND e11.element_id = pa11.element_id
    AND e11.element_name = 'Miscellaneous' 
    )

    Select Stat1.*,Stat2.Transition,Stat3.Isolation,Stat4.Spot_Up,Stat5.Hand_Off,
    Stat6.Offensive_Rebounds,Stat7.Off_Screen,Stat8.Cut,
    Stat9.Post_Up,Stat10.PR_Roll_Man,Stat11.Miscellaneous
    FROM Stat1,Stat2,Stat3,Stat4,Stat5,Stat6,Stat7,Stat8,Stat9,Stat10,Stat11
    WHERE 
    Stat1.player_id = Stat2.player_id AND Stat1.player_id = Stat3.player_id AND 
    Stat1.player_id = Stat4.player_id AND Stat1.player_id = Stat5.player_id AND
    Stat1.player_id = Stat6.player_id AND Stat1.player_id = Stat7.player_id AND
    Stat1.player_id = Stat8.player_id AND Stat1.player_id = Stat9.player_id AND 
    Stat1.player_id = Stat10.player_id AND Stat1.player_id = Stat11.player_id AND

    Stat2.player_id = Stat3.player_id AND Stat2.player_id = Stat4.player_id AND 
    Stat2.player_id = Stat5.player_id AND Stat2.player_id = Stat6.player_id AND 
    Stat2.player_id = Stat7.player_id AND Stat2.player_id = Stat8.player_id AND 
    Stat2.player_id = Stat9.player_id AND Stat2.player_id = Stat10.player_id AND 
    Stat2.player_id = Stat11.player_id AND

    Stat3.player_id = Stat4.player_id AND Stat3.player_id = Stat5.player_id AND
    Stat3.player_id = Stat6.player_id AND Stat3.player_id = Stat7.player_id AND 
    Stat3.player_id = Stat8.player_id AND Stat3.player_id = Stat9.player_id AND 
    Stat3.player_id = Stat10.player_id AND Stat3.player_id = Stat11.player_id AND

    Stat4.player_id = Stat5.player_id AND Stat4.player_id = Stat6.player_id AND 
    Stat4.player_id = Stat7.player_id AND Stat4.player_id = Stat8.player_id AND
    Stat4.player_id = Stat9.player_id AND Stat4.player_id = Stat10.player_id AND
    Stat4.player_id = Stat11.player_id AND

    Stat5.player_id = Stat6.player_id AND Stat5.player_id = Stat7.player_id AND 
    Stat5.player_id = Stat8.player_id AND Stat5.player_id = Stat9.player_id AND
    Stat5.player_id = Stat10.player_id AND Stat5.player_id = Stat11.player_id AND

    Stat6.player_id = Stat7.player_id AND Stat6.player_id = Stat8.player_id AND 
    Stat6.player_id = Stat9.player_id AND Stat6.player_id = Stat10.player_id AND
    Stat6.player_id = Stat11.player_id AND

    Stat7.player_id = Stat8.player_id AND Stat7.player_id = Stat9.player_id AND 
    Stat7.player_id = Stat10.player_id AND Stat7.player_id = Stat11.player_id AND

    Stat8.player_id = Stat9.player_id AND Stat8.player_id = Stat10.player_id AND
    Stat8.player_id = Stat11.player_id AND

    Stat9.player_id = Stat10.player_id AND Stat9.player_id = Stat11.player_id AND

    Stat10.player_id = Stat11.player_id
"""
df = pd.read_sql(Q1, conn)
df

,player_name,player_id,pr_ball_handler,transition,isolation,spot_up,hand_off,offensive_rebounds,off_screen,cut,post_up,pr_roll_man,miscellaneous
0,Rod_Henry-Hayes,355,0.083,0.250,0.021,0.417,0.021,0.063,0.021,0.021,NaN,NaN,0.104
1,Adam_Davis,1,0.014,0.072,NaN,0.319,NaN,0.116,NaN,0.217,0.101,0.058,0.101
2,Aquavius_Burks,2,0.011,0.103,0.076,0.272,NaN,0.049,0.011,0.141,0.179,0.043,0.114
3,Arshawn_Parker,3,0.189,0.211,0.032,0.400,0.021,0.011,0.074,NaN,NaN,NaN,0.063
4,Austin_Thompson,4,NaN,0.333,NaN,0.333,NaN,NaN,NaN,NaN,NaN,NaN,0.333
5,Caden_Ebeling,5,NaN,0.071,0.005,0.186,NaN,0.142,0.011,0.131,0.355,0.049,0.049
6,Corey_Wheeler,6,0.091,0.182,0.084,0.308,0.036,0.068,0.036,0.042,0.088,0.006,0.058
7,Dylan_Bennett,7,0.031,0.108,NaN,0.662,0.015,NaN,0.123,NaN,NaN,NaN,0.062
8,Jamezell_Davis_Jr,8,0.151,0.171,0.059,0.414,0.020,0.007,0.033,NaN,NaN,0.007,0.138
9,Jaylen_Fordham,9,0.079,0.185,0.083,0.389,0.028,0.046,0.088,0.014,NaN,NaN,0.088
10,Juwan_Perry,10,0.028,0.208,0.014,0.514,0.014,0.069,0.111,0.028,NaN,NaN,0.014
11,Nathaniel_Collins,11,0.038,0.227,0.032,0.405,0.054,0.016,0.114,0.016,NaN,NaN,0.097
12,Nathan_Kellum,12,NaN,0.132,NaN,0.053,NaN,0.105,NaN,0.237,0.316,NaN,0.158
13,Ojani_Echevarria,13,0.111,0.167,NaN,0.389,NaN,NaN,0.167,NaN,NaN,NaN,0.167
14,Quinton_Armstrong,14,NaN,0.054,NaN,0.167,NaN,0.137,0.005,0.123,0.441,0.015,0.059
15,Robert_Ryan,15,0.076,0.114,0.083,0.523,0.015,0.008,0.023,0.023,NaN,NaN,0.136
16,Ryan_Lowe,16,NaN,0.033,NaN,NaN,NaN,0.248,NaN,0.098,0.562,0.013,0.046
17,Adam_Radcliffe,17,0.500,NaN,NaN,0.250,NaN,NaN,NaN,NaN,NaN,NaN,0.250
18,Brad_Kruse,18,0.106,0.141,0.165,0.218,0.008,0.098,0.037,0.061,0.064,0.032,0.069
19,Brad_Perry,19,NaN,0.019,NaN,0.004,0.004,0.095,NaN,0.174,0.614,0.027,0.064
20,Brett_Czerak,20,0.167,NaN,NaN,0.500,NaN,NaN,0.333,NaN,NaN,NaN,NaN
21,Dan_Messina,21,NaN,NaN,NaN,0.250,NaN,NaN,0.250,NaN,NaN,NaN,0.500
22,Derek_Mason_II,22,0.146,0.127,0.124,0.296,0.022,0.030,0.169,0.030,0.004,NaN,0.052
23,Dimitrije_Kastratovic,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.333,0.667
24,Jacob_Polglase,24,0.083,0.111,NaN,0.528,NaN,0.028,0.056,0.083,NaN,NaN,0.111
25,Jordan_Thomas,25,0.183,0.127,0.079,0.277,0.020,0.038,0.224,0.005,0.003,NaN,0.043
26,Jordan_Vedder,26,NaN,0.047,0.023,0.419,NaN,NaN,0.093,0.023,0.047,0.163,0.186
27,Kamal_Shasi,27,0.172,0.069,0.129,0.353,NaN,0.043,0.086,NaN,0.009,NaN,0.138
28,Kienan_Baltimore,28,NaN,0.110,0.059,0.224,NaN,0.041,0.068,0.087,0.251,0.050,0.110
29,Mike_Canady,29,0.047,0.116,NaN,0.442,0.023,0.023,0.116,0.023,NaN,NaN,0.209
...,...,...,...,...,...,...,...,...,...,...,...,...,...
508,Immanuel_Oby,488,0.258,0.194,0.097,0.129,0.048,0.081,0.016,0.048,NaN,0.016,0.113
509,Isaiah_Tenette,433,0.250,0.330,0.057,0.159,0.034,0.034,0.011,0.023,NaN,NaN,0.102
510,Alex_Manhardt,464,NaN,0.095,0.027,0.068,0.005,0.144,0.011,0.081,0.485,0.035,0.049
511,Tavaris_Mccullough,478,0.261,0.212,0.091,0.176,0.012,0.024,0.048,0.091,NaN,NaN,0.085
512,Trentin_Fouse,480,0.061,0.133,0.010,0.510,0.031,0.041,0.071,0.092,NaN,0.010,0.041
513,Tristan_Ess,481,0.006,0.083,0.006,0.250,0.006,0.103,0.006,0.128,0.333,0.038,0.038
514,Taylor_Rahn,479,0.020,0.186,0.029,0.431,0.049,0.029,0.137,0.039,NaN,NaN,0.078
515,Logan_Hamilton,472,0.037,0.093,0.084,0.252,0.056,0.056,0.028,0.065,0.252,0.037,0.037
516,Caleb_Martin,465,NaN,NaN,NaN,0.500,NaN,0.125,NaN,0.125,NaN,NaN,0.250
517,Coy_Paulson,466,0.111,0.222,0.111,0.222,NaN,NaN,NaN,0.111,NaN,NaN,0.222
518,Evan_Hansen,468,0.111,0.333,0.048,0.312,0.016,0.011,0.063,0.021,NaN,NaN,0.085
519,Justin_Wilson,470,0.152,0.087,0.109,0.391,0.022,0.109,0.043,0.065,NaN,NaN,0.022
520,Ryan_Biffert,477,0.057,0.085,NaN,0.406,0.019,0.094,0.075,0.151,NaN,0.009,0.104
521,Julian_Lynch,469,NaN,NaN,NaN,0.600,NaN,NaN,0.200,0.200,NaN,NaN,NaN
522,Will_Olewinski,483,0.007,0.126,NaN,0.378,0.015,0.067,0.230,0.052,0.007,0.052,0.067
523,Tyrese_Pinson,482,0.229,0.171,0.116,0.205,0.019,0.043,0.050,0.085,NaN,NaN,0.081
524,Marcus_Kadinger,473,NaN,0.118,NaN,0.412,NaN,0.059,0.059,0.118,0.059,NaN,0.176
525,Danny_Duchaj,467,NaN,NaN,NaN,0.200,NaN,0.200,NaN,NaN,0.200,NaN,0.400
526,Kelvin_Jones,471,0.099,0.168,0.099,0.361,0.015,0.025,0.079,0.054,NaN,NaN,0.099
527,Myles_Cochran,475,NaN,0.200,NaN,0.300,NaN,0.100,NaN,0.300,NaN,0.100,NaN
528,Noah_Knudsen,476,NaN,0.176,0.059,0.412,NaN,NaN,0.176,0.059,NaN,NaN,0.118
529,Will_Polczynski,484,NaN,0.058,NaN,0.038,NaN,0.115,0.048,0.173,0.375,0.115,0.077
530,Matt_Shaw,474,0.053,0.105,NaN,0.421,0.053,NaN,0.158,NaN,NaN,NaN,0.211
531,Isaac_Anderson,419,NaN,NaN,NaN,0.556,NaN,0.111,NaN,0.111,NaN,0.222,NaN
532,Jequan_Pegeese,420,0.200,0.150,0.125,0.375,0.025,NaN,0.025,0.075,NaN,NaN,0.025
533,Eric_Nygaard,417,0.005,0.151,0.041,0.330,0.018,0.092,0.041,0.032,0.128,0.087,0.073
534,Deonte_Carlton,415,NaN,0.444,0.333,NaN,NaN,NaN,0.111,NaN,NaN,NaN,0.111
535,Ahmari_Dantzler,409,NaN,NaN,NaN,0.250,NaN,0.500,NaN,0.250,NaN,NaN,NaN
536,Eddie_Burnett,416,NaN,0.333,0.167,0.417,NaN,NaN,NaN,NaN,NaN,NaN,0.083
537,Carlos_Campos,412,0.050,0.314,0.100,0.252,0.050,0.022,0.157,0.015,NaN,NaN,0.040